/* general */
html {
	font-family: Helvetica, sans-serif;
}

/* Serviços */

.services-container {
	max-width: 1200px;
	padding: 30px 10%;
	padding-bottom: 0;
	
}

.service-box {
	width: 100%;
	position: relative;
	clear: both;
	height: 150px;
	margin-bottom: 30px;
}

.service-box:last {
	margin-bottom: 0;
}

.service-title {
	width: 20%;
	height: 150px;
	background-color: #DDD;
	float: left;
	text-align: center;
	line-height: 150px;
	padding: 20px;
	box-sizing: border-box;
}

.service-title p {
	padding-top: 35px;
	color: #FFF;
	font-size: 18px;
	line-height: 24px;
}

.service-description {
	width: 80%;
	float: left;
	padding: 30px;
	box-sizing: border-box;
}

.service-description h3 {
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: bold;
}

.service-description p {
	font-size: 14px;
	line-height: 22px;
}

#gerenciamento-title {
	color: #012e01;
}

#dev-title {
	color: #0c520c;
}

#design-title {
	color: #218f21;
}

#gerenciamento-box {
	background-color: #012e01;
}

#dev-box {
	background-color: #0c520c;
}

#design-box {
	background-color: #218f21;
}

